server {
  listen 8080;
  server_tokens off;
  client_body_timeout 10s;
  client_header_timeout 10s;
  keepalive_timeout 15s;
  send_timeout 10s;
  reset_timedout_connection on;
  default_type text/plain;

  add_header X-Content-Type-Options "nosniff" always;
  add_header X-Frame-Options "DENY" always;
  add_header Referrer-Policy "no-referrer" always;

  location = /_health {
    access_log off;
    return 200 'OK';
  }

  location / {
    return 302 ${REDIRECT_URL};
  }
}
